[Unit]
Description=IdiotsMS Account Management System
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=idiotsms
WorkingDirectory=/opt/idiotsms
Environment=PATH=/opt/idiotsms/venv/bin
EnvironmentFile=/opt/idiotsms/.env
ExecStart=/opt/idiotsms/venv/bin/gunicorn --config gunicorn.conf.py app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
